/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 25, 2017, 7:53:11 PM
    Author     : Michael
*/

a#zom { font-weight:bold; color:blue; font-size:2em; font-family: 'Michroma',sans-serif;}
a#path {font-size: 2em; font-family: 'Boogaloo', cursive; color: cyan;}
